{% extends "data_visualization/base.html" %}
{% block title %}
    <title>Visualizing Data</title>
{% endblock title %}
{% block content %}
    <h3>Choose the Data you want to Visualize</h3>

    <form method="post" action="/barTest/" class="form-group">
        {% csrf_token %}
        <div class="input-group mb-3">
            {{form_measurement}}
        </div>

        {% csrf_token %}
         <div class="input-group mb-3">
             {{form_country}}
             <button type="submit", name="show_graph" class="btn btn-dark">Show Graph</button>
         </div>
    </form>
{% endblock content %}